@font-face {
    font-display: swap;
    font-family: "Netflix Sans";
    font-weight: 300;
    src: url(https://help.nflxext.com/helpcenter/69bbd3374b688aadbf94.woff2) format("woff2"), url(https://help.nflxext.com/helpcenter/0da6ceb4312dc8ecaea4.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: "Netflix Sans";
    font-weight: 400;
    src: url(https://help.nflxext.com/helpcenter/80119a3c6e4f2ebdfa63.woff2) format("woff2"), url(https://help.nflxext.com/helpcenter/3d7e8cdb694fccc214dc.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: "Netflix Sans";
    font-weight: 700;
    src: url(https://help.nflxext.com/helpcenter/7f14db11c6cc61f4dadf.woff2) format("woff2"), url(https://help.nflxext.com/helpcenter/99d3260fb39aef027293.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: "Netflix Sans";
    font-weight: 800;
    src: url(https://help.nflxext.com/helpcenter/95a94997132161906ea8.woff2) format("woff2"), url(https://help.nflxext.com/helpcenter/f9c338330184fffc711e.woff) format("woff")
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

svg {
    vertical-align: middle
}

svg:not(.n-svg),
svg:not(.n-svg) path:not([fill=none]) {
    fill: currentColor
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}



table {
    border-collapse: collapse;
    border-spacing: 0
}

.tabs {
    margin: 40px 0
}

.tabs .tabs {
    display: none !important
}

.tabs .tab-panel {
    background: #f5f5f1;
    padding: 16px 16px 24px
}

.form-control {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-weight: 400;
    outline: none;
    padding: 15px 16px;
    width: 100%
}

.form-group label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    left: 16px;
    right: 16px;
    position: absolute;
    user-select: none;
    z-index: 0;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, .7);
    top: 16px
}



.content ul,
.content ol,
.page-block ul,
.page-block ol {
    margin: 0 0 16px
}

.content ul li,
.content ol li,
.page-block ul li,
.page-block ol li {
    margin: 0 0 8px;
    padding: 0 0 0 24px;
    position: relative
}

.content ul li:last-of-type,
.content ol li:last-of-type,
.page-block ul li:last-of-type,
.page-block ol li:last-of-type {
    padding-bottom: 0
}



.help-card {
    position: relative;
    padding: 16px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .1)
}

.btn,
.select {
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-family: "Netflix Sans", Helvetica, Arial, sans-serif;
    height: 48px;
    letter-spacing: .01em;
    min-width: 96px;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: color 150ms ease, background-color 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

.btn:hover,
.select:hover,
.btn:focus,
.select:focus {
    text-decoration: none
}

.btn.disabled,
.disabled.select,
.btn:disabled,
.select:disabled,
.disabled>.btn,
.disabled>.select {
    opacity: .4;
    pointer-events: none
}

.btn.btn-block,
.btn-block.select {
    display: block;
    width: 100%
}

.btn.btn-med,
.btn-med.select {
    height: 32px;
    padding: 8px
}


.btn.btn-lg,
.btn-lg.select {
    height: 64px;
    line-height: 46px;
    padding: 8px 32px
}

.btn.btn-link,
.btn-link.select {
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none
}

.btn.btn-link:hover,
.btn-link.select:hover {
    text-decoration: underline
}

.btn.btn-primary,
.btn-primary.select {
    background: #e50914;
    border-color: #e50914;
    color: #fff
}

.btn.btn-primary.disabled,
.btn-primary.disabled.select,
.btn.btn-primary:disabled,
.btn-primary.select:disabled {
    color: rgba(255, 255, 255, .4)
}

.h-btn {
    outline: none;
    position: relative;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: "Netflix Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: .01em;
    padding: 8px 20px;
    text-align: center;
    transition: border-color 150ms ease, color 150ms ease, background-color 150ms ease;
    vertical-align: middle;
    white-space: nowrap
}

.h-btn.btn-brand-dark {
    color: #fff;
    background: #e50914
}

.h-btn.btn-brand-dark:hover {
    color: #fff;
    background: #c11119
}

.h-btn.btn-brand-dark:focus {
    color: #fff;
    background: #e50914
}

.h-btn.btn-primary-dark {
    color: #000;
    background: #fff
}

.h-btn.btn-primary-dark:hover {
    color: #000;
    background: rgba(255, 255, 255, .7)
}

.h-btn.btn-primary {
    color: #fff;
    background: #0f0f0f
}

.h-btn.btn-primary:hover {
    color: #fff;
    background: rgba(0, 0, 0, .7)
}

.h-btn.btn-primary:focus {
    background: #000
}

.h-btn.btn-primary:focus:after {
    border-color: #000
}






.h-btn.btn-secondary {
    color: #000;
    background: rgba(0, 0, 0, .1)
}

.h-btn.btn-secondary:hover {
    color: #000;
    background: rgba(0, 0, 0, .3)
}

.h-btn.btn-secondary:focus {
    background: rgba(0, 0, 0, .1)
}

.h-btn.btn-secondary:focus:after {
    border-color: #000
}

.h-btn.btn-secondary:focus.btn-icon:after {
    border-radius: 50%
}

.h-btn.btn-secondary:active,
.h-btn.btn-secondary.btn-active {
    color: rgba(0, 0, 0, .7);
    background: rgba(0, 0, 0, .2)
}



.h-btn.btn-tertiary-dark {
    color: #fff;
    background: rgba(0, 0, 0, 0)
}

.h-btn.btn-tertiary-dark:hover {
    color: #fff;
    background: rgba(128, 128, 128, .2)
}

.h-btn.btn-tertiary-dark:focus {
    color: #fff;
    background: rgba(0, 0, 0, 0)
}

.h-btn.btn-tertiary-dark:focus:after {
    border-color: #fff
}





.h-btn.btn-tertiary {
    color: rgba(0, 0, 0, .7);
    background: rgba(0, 0, 0, 0)
}

.h-btn.btn-tertiary:hover {
    color: #000;
    background: rgba(128, 128, 128, .2)
}

.h-btn.btn-tertiary:focus {
    color: rgba(0, 0, 0, .7);
    background: rgba(0, 0, 0, 0)
}

.h-btn.btn-tertiary:focus:after {
    border-color: #000
}

.h-btn.btn-tertiary:focus.btn-icon:after {
    border-radius: 50%
}

.h-btn.btn-tertiary:active,
.h-btn.btn-tertiary.btn-active {
    color: rgba(0, 0, 0, .7);
    background: rgba(128, 128, 128, .1)
}

.h-btn.btn-tertiary:active:after,
.h-btn.btn-tertiary.btn-active:after {
    display: none
}




.h-btn.btn-supplemental {
    color: #000;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(182, 182, 182, .7)
}

.h-btn.btn-supplemental:hover {
    color: #000;
    background: rgba(128, 128, 128, .2);
    border-color: #000
}

.h-btn.btn-supplemental:focus {
    color: #000;
    border-color: rgba(128, 128, 128, .7);
    background: rgba(0, 0, 0, 0)
}

.h-btn.btn-supplemental:focus:after {
    border-color: #000
}

.h-btn.btn-supplemental:focus.btn-icon:after {
    border-radius: 50%
}

.h-btn.btn-supplemental:active,
.h-btn.btn-supplemental.btn-active {
    color: rgba(0, 0, 0, .7);
    background: rgba(128, 128, 128, .1);
    border-color: rgba(128, 128, 128, .6)
}



.h-btn.btn-supplemental-dark {
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(128, 128, 128, .7)
}

.h-btn.btn-supplemental-dark:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border-color: #fff
}

.h-btn.btn-supplemental-dark:focus {
    color: #fff;
    border-color: rgba(128, 128, 128, .7);
    background: rgba(0, 0, 0, 0)
}

.h-btn.btn-supplemental-dark:focus:after {
    border-color: #fff
}

table {
    border: 1px solid #d5d4d1;
    border-collapse: collapse;
    margin: 0 0 40px;
    text-align: left;
    width: 100%
}

table thead th {
    border: 1px solid #d5d4d1;
    padding: 8px;
    vertical-align: top
}

table thead th,
table thead p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: #f5f5f1;
    margin: 0
}

table tbody td {
    background: #fff;
    border: 1px solid #eaeae6;
    border-left: 0;
    padding: 8px 16px;
    vertical-align: top
}

table tbody td,
table tbody td p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px
}

table tbody td p:last-child {
    margin: 0
}

table tbody tr:last-child td {
    border-bottom: 0
}

table tbody tr td:last-child {
    border-right: 0
}

.hc-panel {
    background: #fff;
    border: 1px solid #b6b5b2;
    border-radius: 4px;
    padding: 16px;
    position: relative
}

.hc-loader {
    background: rgba(0, 0, 0, .08);
    border-radius: 4px;
    display: inline-block;
    padding: 16px 8px;
    pointer-events: none;
    user-select: none
}

.hc-loader::after {
    clear: both;
    content: "";
    display: table
}

.hc-loader em {
    animation: onoff 1000ms infinite ease;
    background: rgba(0, 0, 0, .08);
    border-radius: 8px;
    display: block;
    float: left;
    height: 16px;
    margin: 0 8px;
    width: 16px
}

.hc-loader em:nth-child(1) {
    animation-delay: -1000ms
}

.hc-loader em:nth-child(2) {
    animation-delay: -666.6666666667ms
}

.hc-loader em:nth-child(3) {
    animation-delay: -333.3333333333ms
}

.select {
    padding: 0;
    position: relative
}

.select>svg,
.select .select-icon {
    height: 24px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 10px;
    width: 24px;
    z-index: 0
}

.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    background: none;
    border: 0;
    cursor: pointer;
    line-height: 20px;
    outline: none;
    overflow: hidden;
    padding: 13px 45px 13px 16px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    z-index: 1
}

.select select::-ms-expand {
    display: none
}

.select select option {
    color: #000
}

.select.select-med {
    height: auto;
    padding: 0
}

.select.select-med select {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 40px 8px 16px
}

.select.select-med .select-icon {
    right: 8px;
    top: 6px
}

@media(max-width: 600px) {
    .select.select-med.btn-reg-mobile {
        height: 48px;
        padding: 16px
    }
}

.select.select-primary {
    border-color: #e50914;
    color: #fff
}

.select.select-primary svg {
    color: #d30206
}

.select.select-primary:hover {
    background-color: #d30206;
    border-color: #d30206;
    color: #fff
}

.select.select-primary:hover svg {
    color: #fff
}

.select.select-primary:hover select {
    color: #fff
}

.select.select-primary:active {
    background-color: #b20710;
    border-color: #b20710;
    color: #fff
}

.select.select-primary:active select {
    color: #fff
}

.select.select-primary select {
    color: #fff
}

.select.select-secondary {
    border-color: #e50914;
    color: #e50914
}

.select.select-secondary svg {
    color: #e50914
}

.select.select-secondary:hover {
    background-color: #e50914;
    border-color: #e50914;
    color: #fff
}

.select.select-secondary:hover svg {
    color: #fff
}

.select.select-secondary:hover select {
    color: #fff
}

.select.select-secondary:active {
    background-color: #b20710;
    border-color: #b20710;
    color: #fff
}

.select.select-secondary:active select {
    color: #fff
}

.select.select-secondary select {
    color: #e50914
}

.select.select-dark {
    border-color: #8b8a88;
    color: #4c4948
}

.select.select-dark svg {
    color: #e50914
}

.select.select-dark:hover {
    background-color: #e50914;
    border-color: #e50914;
    color: #fff
}

.select.select-dark:hover svg {
    color: #fff
}

.select.select-dark:hover select {
    color: #fff
}

.select.select-dark:active {
    background-color: #b20710;
    border-color: #b20710;
    color: #fff
}

.select.select-dark:active select {
    color: #fff
}

.select.select-dark select {
    color: #4c4948
}

.select.select-light {
    border-color: #fff;
    color: #fff
}

.select.select-light svg {
    color: #eaeae6
}

.select.select-light:hover {
    background-color: #eaeae6;
    border-color: #eaeae6;
    color: #4c4948
}

.select.select-light:hover svg {
    color: #4c4948
}

.select.select-light:hover select {
    color: #4c4948
}

.select.select-light:active {
    background-color: #fff;
    border-color: #fff;
    color: #4c4948
}

.select.select-light:active select {
    color: #4c4948
}

.select.select-light select {
    color: #fff
}

.select.select-grey {
    border-color: #8b8a88;
    color: #8b8a88
}

.select.select-grey svg {
    color: #8b8a88
}

.select.select-grey:hover {
    background-color: #8b8a88;
    border-color: #8b8a88;
    color: #fff
}

.select.select-grey:hover svg {
    color: #fff
}

.select.select-grey:hover select {
    color: #fff
}

.select.select-grey:active {
    background-color: #6b6967;
    border-color: #6b6967;
    color: #fff
}

.select.select-grey:active select {
    color: #fff
}

.select.select-grey select {
    color: #8b8a88
}

.select.select-lightgrey {
    border-color: #8b8a88;
    color: #4c4948
}

.select.select-lightgrey svg {
    color: #f5f5f1
}

.select.select-lightgrey:hover {
    background-color: #f5f5f1;
    border-color: #4c4948;
    color: #4c4948
}

.select.select-lightgrey:hover svg {
    color: #4c4948
}

.select.select-lightgrey:hover select {
    color: #4c4948
}

.select.select-lightgrey:active {
    background-color: #f5f5f1;
    border-color: #8b8a88;
    color: #8b8a88
}



.select.select-lightgrey select {
    color: #4c4948
}

.select.select-link {
    border-color: rgba(0, 0, 0, 0);
    color: #e50914
}

.select.select-link svg {
    color: rgba(0, 0, 0, 0)
}

.select.select-link:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #d30206
}

.select.select-link:hover svg {
    color: #d30206
}

.select.select-link:hover select {
    color: #d30206
}

.select.select-link:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #b20710
}

.select.select-link:active select {
    color: #b20710
}

.select.select-link select {
    color: #e50914
}



.breadcrumb {
    display: flex;
    margin: 0 0 32px !important;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start
}

@media print {
    .breadcrumb {
        display: none
    }
}

.breadcrumb li {
    margin-right: 8px
}

.breadcrumb li:last-of-type {
    margin: 0
}

.breadcrumb a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    color: #000
}

.breadcrumb a:hover {
    color: rgba(0, 0, 0, .7)
}

.breadcrumb a:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
    border-radius: 2px
}

.multi-crumbs {
    display: flex;
    flex-direction: row
}

.multi-crumbs>.breadcrumb:first-child {
    width: 100%
}

.multi-crumbs>.breadcrumb:last-child {
    margin-left: 24px
}

.h-input {
    position: relative;
    border-radius: 4px;
    background: #fff
}

.h-input:focus-within .h-input-label {
    top: 4px;
    font-size: 12px;
    line-height: 18px
}

.h-input:focus-within .h-input-control {
    padding: 20px 12px 4px
}

.h-input .h-input-label {
    z-index: 1;
    user-select: none;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    padding: 0 12px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, .7)
}

.h-input .h-input-control {
    position: relative;
    z-index: 2;
    display: block;
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border: 1px solid gray;
    box-shadow: none;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background: none
}

.h-header {
    position: relative;
    background: #fff;
    border-bottom: 1px solid rgba(128, 128, 128, .2)
}

.h-header>.container {
    display: flex;
    height: 64px;
    max-width: 100%;
    flex-direction: row;
    align-items: center
}

.h-navigation-item {
    outline: none;
    position: relative;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0);
    font-family: "Netflix Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .01em;
    padding: 8px 12px;
    text-align: center;
    transition: color 150ms ease, border-color 150ms ease, background-color 150ms ease;
    vertical-align: middle;
    white-space: nowrap;
    color: #000;
    background: rgba(0, 0, 0, 0)
}


.global-container {
    background: #fff
}

.light-background {
    background-color: #fff
}

.global-content {
    padding: 32px 0 48px;
    min-height: 360px
}



.container {
    margin: 0 auto;
    max-width: 1248px;
    padding: 0 24px
}

.container.container-narrow {
    max-width: 690px
}



body {
    background: #000;
    color: #221f1f;
    font-family: "Netflix Sans", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}



a {
    color: #e50914;
    font-weight: 400;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 32px
}

@media(max-width: 900px) {
    h1 {
        font-size: 32px;
        line-height: 40px
    }
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 8px
}

@media(max-width: 900px) {
    h2 {
        font-size: 20px
    }
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 8px
}

p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px
}

hr {
    border: 0;
    border-bottom: 1px solid #d5d4d1;
    box-shadow: none;
    display: block;
    margin: 0 0 40px 0;
    padding: 40px 0 0
}

hr.small {
    margin: 0 0 24px 0;
    padding: 24px 0 0
}

hr.flip {
    border: 0;
    border-top: 1px solid #d5d4d1;
    margin: 24px 0 0;
    padding: 0 0 24px 0
}

strong {
    font-family: "Netflix Sans", Helvetica, Arial, sans-serif;
    font-weight: 700
}

small {
    font-family: "Netflix Sans", Helvetica, Arial, sans-serif
}

em {
    font-style: normal;
    font-weight: 700
}



.global-header {
    position: relative;
    z-index: 500;
    background: #000
}

.global-header>.container {
    position: relative
}

.global-header .inner-container {
    position: relative;
    display: flex;
    height: 66px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.global-header .inner-container .branding {
    flex: 0 0
}

.global-header .inner-container .actions {
    flex: 0 1 auto
}

.global-header .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0;
    padding-right: 24px
}

.global-header .branding .n-svg,
.global-header .branding .helpcenter-logo {
    display: none
}

.global-header .branding .helpcenter-logo {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    white-space: nowrap;
    color: #f5f5f1
}

.global-header .branding .helpcenter-logo:hover {
    text-decoration: underline
}


.global-header .actions {
    float: none;
    display: flex;
    flex: 0 0;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 24px;
    justify-content: flex-end
}

.global-header .actions .btn,
.global-header .actions .select {
    font-size: 12px;
    line-height: 14px;
    padding: 8px;
    width: auto;
    flex-shrink: 0
}

.global-header .actions .sign-in-link {
    margin-left: 16px
}

.global-header .actions .free-month {
    height: auto;
    flex-shrink: 1;
    white-space: normal
}

.global-header .dropdown {
    position: relative;
    z-index: 1
}



.global-header .dropdown .dropdown-toggle::after {
    background: url(https://help.nflxext.com/helpcenter/6d7a6ab6b67089087c0e.svg) center center;
    content: "";
    display: block;
    margin-top: -10px;
    height: 24px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: rotate(180deg);
    width: 24px
}

.global-header .dropdown .dropdown-menu {
    background: #f5f5f1;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .14), inset 0 0 0 1px #b6b5b2;
    display: none;
    margin-top: 16px;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 100%
}

.global-header .dropdown .dropdown-menu li {
    display: block;
    margin: 0 0 8px
}

.global-header .dropdown .dropdown-menu li:last-of-type {
    margin: 0
}

.global-header .dropdown .dropdown-menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #221f1f;
    display: inline-block;
    padding-right: 24px;
    position: relative;
    white-space: nowrap
}

.global-header .logo-wrapper {
    padding: 0 0 16px;
    line-height: 18px
}

.global-header .logo-wrapper .helpcenter-logo {
    margin: 0;
    color: #f5f5f1;
    font-weight: 700
}

.global-header .logo-wrapper .helpcenter-logo:hover {
    text-decoration: underline
}

.global-header form {
    padding-bottom: 16px
}



.global-header.not-using-search-nav .logo-wrapper {
    display: none
}

.global-header.not-using-search-nav .big-container {
    display: none
}

.global-header.not-using-search-nav .branding .logo {
    position: relative;
    margin-right: 33px
}

.global-header.not-using-search-nav .branding .logo::after {
    background: #f5f5f1;
    content: "";
    height: 24px;
    left: 100%;
    margin-left: 16px;
    position: absolute;
    top: 4px;
    width: 1px
}

.global-header.not-using-search-nav .branding .helpcenter-logo {
    display: block;
    padding: 0
}

.global-header.light-theme.not-using-search-nav .branding .logo::after {
    background: rgba(128, 128, 128, .7)
}

.page-home .global-header {
    background: #000
}

.page-home .global-header>.container {
    padding-top: 24px
}

.page-home .global-header .netflix-svg {
    width: 132px;
    height: 36px
}

.page-home .global-header .overlay {
    display: none !important
}

.page-home .global-header .logo-wrapper {
    display: block;
    padding-bottom: 24px;
    text-align: center
}

.page-home .global-header .logo-wrapper .helpcenter-logo {
    margin: 0 auto;
    font-size: 32px;
    line-height: 32px;
    text-decoration: none
}

.page-home .global-header form {
    max-width: 65%;
    margin: 0 auto;
    padding-bottom: 32px
}

.page-home .global-header .branding .logo {
    margin: 0
}

.page-home .global-header .branding .logo:after {
    display: none
}

.page-home .global-header .branding .helpcenter-logo {
    display: none
}


.global-header.using-search-nav .search-after-click form {
    padding-bottom: 9px
}

.global-header.light-theme .dropdown .dropdown-toggle {
    color: #000
}

.global-header.light-theme .dropdown .dropdown-menu {
    background: #fff
}

.global-header.light-theme .logo::after {
    background-color: rgba(128, 128, 128, .7)
}

.global-header.light-theme .helpcenter-logo {
    position: relative;
    color: #000
}

.global-header.light-theme .helpcenter-logo:hover {
    color: rgba(0, 0, 0, .7)
}

.global-header.light-theme .helpcenter-logo:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
    border-radius: 2px
}

.global-header.light-theme.using-search-nav .inner-container .search-nav {
    flex: 1 0 auto
}

.global-header.light-theme.using-search-nav .inner-container .search-nav form {
    padding-bottom: 0
}

.global-hero {
    background: url(https://help.nflxext.com/helpcenter/349ececab091174d636e.jpg) #221f1f;
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    max-height: 288px;
    min-height: 288px;
    position: relative
}


.global-hero .figure {
    display: block;
    padding: 0 0 19.2%;
    position: relative;
    z-index: 0
}

.global-hero .details {
    bottom: 24px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1
}

.global-hero .details .search-form-container {
    max-width: 640px;
    min-width: 550px;
    width: 50%
}

@media(max-width: 600px) {
    .global-hero .details .search-form-container {
        max-width: 640px;
        min-width: 0;
        width: 100%
    }
}

.global-hero .details .help-center-title {
    font-size: 40px;
    font-weight: 800;
    line-height: 64px;
    color: #fff;
    margin: 0 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}


.global-page-footer {
    padding: 0 0 48px;
    background: #000;
    background: linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%), #000
}

.global-page-footer .global-page-contactbar {
    padding-top: 24px
}

.global-page-footer .global-page-contactbar .wrapper {
    color: #fff;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}

.global-page-footer .global-page-contactbar .bar-title {
    margin: 0 32px 8px 0;
    flex: 0 0 auto;
    font-size: 20px;
    line-height: 30px
}

.global-page-footer .global-page-contactbar .btn-primary,
.global-page-footer .global-page-contactbar .btn-primary-dark {
    min-width: 160px;
    margin-bottom: 8px
}

.global-page-footer .footer-links {
    padding-top: 40px
}

.global-page-footer .footer-link {
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 21px
}

.global-page-footer .footer-link:last-of-type {
    margin: 0
}

.global-page-footer .footer-link a {
    color: rgba(255, 255, 255, .7)
}

.global-page-footer .select {
    margin-top: 32px
}