@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
* {
    padding: 0;
        margin: 0;
        font-family: 'Poppins',sans-serif;
    }
body {
    background-color: black;
}

.main {

    background-image: url(bg2.jpg);
    height: 644px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {

    top: 0;
    position: absolute;
    height: 644px;
    opacity: 0.62;
    width: 100%;
    background-color: black;
}

nav {
    justify-content: space-between;
    margin: auto;
    max-width: 60vw;
    display: flex;
    align-items: center;
    height: 100px;

}

select{
    border-radius: 5px;
    margin: auto;
    
    padding: 15px;
    position: relative;
    gap: 23px;
    background-color: black;
    color: white;
}

option{
    background-color: white;
    color: black;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    gap: 23px;
    padding: 0 32px;
    
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.hero :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color:rgb(46,44,44);
    z-index: 50;
    position: relative;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.025);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

}

.btn-red-sign {
    background-color: red;
    color: white;
}

.btn-red-get {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 600;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    background-color: rgba(23, 23, 23, 0.7);
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    font-weight: 900;
    border: 1px solid white;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    color: white;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}



.secimg {
    position: relative;
}

.secimg .img1 {
    width: 601px;
    height: 451px;
    position: relative;
    z-index: 10;

}

.secimg .video1 {

    position: absolute;
    top: 85px;
    right: 0;
    width: 520px;
    height: 300px;
}

.secimg .img2{
    width: 742px;
    height: 556px;
    position: relative;
    z-index: 10;

}

.secimg .video2 {

    position: absolute;
    top: 63px;
    right: 120px;
    width: 500px;
    height: 270px;
}


section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    color: white;
    background-color: gray;
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 42, 42);
    padding: 15px;
    margin: 14px auto;
    max-width: 70vw;
    cursor: pointer;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.faq-container{
    display: flex;
    flex-direction: column;
}

.faq-content{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.faq-question{
    flex: 1;
    
}
.question-container{

    
    margin-bottom: 10px;
    padding: 10px;  

}
.faq-answer{

    display: none;
    margin-top: 10px;
    width: 100%;
    
}
.arrow {
    position: absolute;
    top: 50%;
    right: 20px; 
    transform: translateY(-50%);
    z-index: 100;

    }

.faq-answer.show{
    display: block;
}

.faqbox.open {
    display: block;
}

.faqbox.open svg.rotate {
    transform: rotate(45deg);
}
.faqbox svg{
    color: white;
}
.toggle-icon {
    width: 24px;
    height: 24px;
    fill: #000;
    cursor: pointer;
    float: right; /* Align the SVG icon to the right */
    margin-left: 24px;
}

.something {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
}

.faq input {
    background-color: rgba(23, 23, 23, 0.7);
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    font-weight: 900;
    border: 1px solid white;

}

footer {
    color: white;
    margin: auto;

    max-width: 60vw;
    padding: 34px;
}

.questions {
    padding: 34px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}




.footer a {
    font-size: 14px;
    text-decoration: underline;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (max-width: 1300px) {
    nav{
        max-width: 90vw;
    }
    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 305px;
        position: relative;
        z-index: 10;

    }

    .secimg video {


        width: 305px;
    }

    .hero> :nth-child(1) {

        font-size: 32px;

    }

    .hero> :nth-child(2) {

        font-size: 18px;

    }

    .hero> :nth-child(3) {

        font-size: 18px;

    }
    .hero-buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }

    footer{
      max-width: 90vw;  
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }
.footer-item{
    align-items: center;
}
}



